body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ade4fd 100%);
}
h1,
h2,
h3 {
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
h1,
h2 {
  background: #fcf3fe;
}
h1 {
  color: black;
  font-weight: lighter;
  max-width: 70%;
}

h2 {
  color: black;
  font-weight: lighter;
  max-width: 50%;
}
h3 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  max-width: 50%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin-left: 30px;
  padding: 0;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid navy;
  border-radius: 5px;
}

#launch-list {
  color: black;
  background: white;
  font-size: 24px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}
#launch-list:hover {
  color: white;
  background-color: black;
  font-size: 40px;
}
.overview {
  margin-bottom: 20px;
}
#icon {
  margin-right: 10px;
  height: 100px;
  width: 100px;
  position: relative;
  top: -20px;
}
#temp {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
#units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
#units .active {
  color: black;
  cursor: default;
}
#units .active:hover {
  text-decoration: none;
}
#foot {
  text-align: center;
  display: block;
  margin: 0 auto;
}
